.lb_default {
    background-color:grey;
}
.lb_green {
    background-color:green;
}
.lb_yellow {
    background-color:yellow;
}
.lb_orange {
    background-color:orange;
}
.lb_red {
    background-color:red;
}